.banner{
    background:#F0EFEB;
}





.banner__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__h{
    padding: 90px 0 ;

    
}

.fall{
    font-family: var(--rb) ;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    max-width: 534px;
}

.fall__last{
    font-family: var(--rb);
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 42px;
}

.get__h{
    font-family: var(--rr);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 26px;
    max-width: 481px;
}

.btn{
    padding: 7px 23px 9px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    color: white;
    font-family: var(--rr) ;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.3s;


}

.btn:hover{
    background:  #F0EFEB;
    color: #000;

}